* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background: #1f2639;
}

.panel {
  display: flex;
  padding: 1em;
}

#container {
  display: flex;
}

#train {
  color: white;
}

#viewport-panel {
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}